@model CRUDWithRepository.Core.User
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login | Warping Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/karam.png"/>
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <style>
        body {
            background-color: #f0f0f0; /* Fallback color */
            background-image: url('../../assets/images/login.jpg');
            background-size: cover;
            -webkit-background-size: cover; /* For older WebKit-based browsers like Chrome */
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: white !important;
        }

        .auth-logo img {
            max-height: 50px;
        }

        .card {
            background: #2b426e;
            box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
        }

        .my-5 {
            margin-top: 11rem !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body pt-0">
                        <h3 class="text-center mt-5 mb-4">
                            <a href="/" class="d-block auth-logo">
                                <img src="~/assets/images/karam.png" alt="" class="auth-logo-dark">
                            </a>
                        </h3>
                        <div class="p-3">
                            <h4 class="text-muted font-size-18 mb-1 text-center text-success" style="color:white !important">Warping Management System</h4>
                            <p class="text-muted text-center text-success" style="color:white !important">Welcome Back !</p>
                            @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <form class="form-horizontal mt-4" action="/">
                                    <div id="Logins">
                                        <div class="mb-3">
                                            <label for="username">Username</label>
                                            @Html.TextBoxFor(m => m.UserName, new { @id = "UserID", @Placeholder = "Enter username", @class = "form-control", @required = "required" })
                                        </div>
                                        <div class="mb-3">
                                            <label for="userpassword">Password</label>
                                            @Html.TextBoxFor(m => m.Password, new { @id = "Password", @Placeholder = "Password", @type = "password", @class = "form-control", @required = "required" })
                                        </div>
                                        <div class="mb-3 row mt-4">
                                            <div class="col-6">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customControlInline" checked="checked">
                                                    <label class="form-check-label" for="customControlInline">Remember me</label>
                                                </div>
                                            </div>
                                            <div class="col-6 text-end">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-4">
                                            <div class="col-12">
                                                <span class="text-danger">
                                                    @ViewBag.Message
                                                </span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-4">
                                            <div class="col-12">
                                                <a href="~/Account/UserEmail" style="text-align: center; color: #a9b9f7" >Forgot Password</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
  
</body>
</html>
